# Environnements virtuels
venv/
env/

# Python caches et compilés
__pycache__/
*.py[cod]

# Documentation builds (Sphinx)
_build/
_static/
_templates/

# Rapports générés
flake8_report/
flake8_rapport/

# Configuration IDE et locale
.vscode/
settings.json
.idea/
conf.py
.readthedocs.yml
.flake8
index.rst
makefile


# Fichiers de sauvegarde et temporaires
*.bak
*.log
.DS_Store
Thumbs.db
make.bat

